<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width" />
    <title>
      {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{
      site.title }}{% endif %}
    </title>

    <link
      rel="stylesheet"
      href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.19.2.min.css"
    />

    <meta name="author" content="Ubuntu" />
    <meta
      name="copyright"
      content="&copy; {{ site.time | date: '%Y' }} 418 I'm a teapod"
    />
    <link rel="alternate" href="https://ubuntu.community" hreflang="en-GB" />

    <meta
      name="description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />

    <meta
      property="og:title"
      content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}"
    />
    <meta property="og:site_name" content="Ubuntu Community" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />
    <meta property="og:image" content="" />
    <meta
      property="og:url"
      content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@ubuntu" />
    <meta property="twitter:creator" content="@ubuntu" />
    <meta
      property="twitter:url"
      content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <meta property="twitter:image" content="">

    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
  </head>

  <body>
    <header id="navigation" class="p-navigation is-dark">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <a href="#navigation" class="p-navigation__toggle--open" title="menu"
            >Menu</a
          >
          <a
            href="#navigation-closed"
            class="p-navigation__toggle--close"
            title="close menu"
            >Close menu</a
          >
        </div>
        <nav class="p-navigation__nav">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__items" role="menu">
            <li class="p-navigation__link" role="menuitem">
              <a class="p-navigation__link" href="{{ site.baseurl }}/">Ubuntu.community</a>
            </li>
            <li class="p-navigation__link" role="menuitem">
              <a class="p-navigation__link" href="{{ site.baseurl }}/about">About</a>
            </li>
            <li class="p-navigation__link" role="menuitem">
                <a class="p-navigation__link p-link--external" href="https://twitter.com/ubuntu">Twitter</a>
            </li>
            <li class="p-navigation__link" role="menuitem">
                <a class="p-navigation__link p-link--external" href="https://discourse.ubuntu.com">Discourse</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="main-content">
        <section class="row">
            {{ content }}
        </section>
    </main>

    <footer class="p-strip--light">
      <nav class="row">
        <div class="has-cookie">
          <p>© 2021 Ubuntu community</p>
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item">
              <a href="/feed.xml"
              ><i class="p-icon--rss"></i></a
              >
            </li>
          </ul>
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item">
              <a href=""
              ><small>Report a bug on this site</small></a
                                                       >
            </li>
          </ul>
          <span class="u-off-screen"
            ><a href="#">Go to the top of the page</a></span
          >
        </div>
      </nav>
    </footer>
  </body>
</html>
